absl-py==0.12.0
actionlib==1.13.2
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
angles==1.9.13
appdirs==1.4.3
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attr==0.3.1
attrs==20.3.0
base-local-planner==1.17.1
blessings==1.7
bondpy==1.8.6
CacheControl==0.12.6
cachetools==4.2.1
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
capstone==4.0.2
catkin==0.8.9
catkin-pkg==0.4.23
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorful==0.5.4
contextlib2==0.6.0
controller-manager==0.19.4
controller-manager-msgs==0.19.4
cv-bridge==1.15.0
Cython==0.29.23
defusedxml==0.7.1
diagnostic-analysis==1.10.3
diagnostic-common-diagnostics==1.10.3
diagnostic-updater==1.10.3
distlib==0.3.0
distro==1.4.0
dm-tree==0.1.6
docutils==0.17.1
dynamic-reconfigure==1.7.1
empy==3.3.4
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gazebo-plugins==2.9.1
gazebo-ros==2.9.1
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.14
geodesy==0.5.5
glfw==2.1.0
google-api-core==1.26.3
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
GPUtil==1.4.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hiredis==2.0.0
html5lib==1.0.1
idna==2.8
image-geometry==1.15.0
imageio==2.9.0
interactive-markers==1.12.0
intervaltree==3.1.0
ipaddr==2.2.0
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
laser-geometry==1.6.7
lockfile==0.12.2
lz4==3.1.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
message-filters==1.15.9
msgpack==1.0.2
mujoco-py==1.50.1.68
multidict==5.1.0
netifaces==0.10.9
numpy==1.19.5
nvidia-ml-py3==7.352.0
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
packaging==20.3
pandas==1.2.4
pep517==0.8.2
Pillow==7.2.0
progress==1.5
prometheus-client==0.10.1
protobuf==3.15.8
psutil==5.8.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyelftools==0.27
pyglet==1.5.0
pyparsing==2.4.6
pyrsistent==0.17.3
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytoml==0.1.21
pytz==2021.1
PyYAML==5.4.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
ray==1.3.0
redis==3.5.3
requests==2.22.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
retrying==1.3.3
ROPGadget==6.5
rosapi==0.11.13
rosbag==1.15.9
rosboost-cfg==1.15.7
rosbridge-library==0.11.13
rosbridge-server==0.11.13
rosclean==1.15.7
roscreate==1.15.7
rosgraph==1.15.9
roslaunch==1.15.9
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.9
rosmake==1.15.7
rosmaster==1.15.9
rosmsg==1.15.9
rosnode==1.15.9
rosparam==1.15.9
rospkg==1.3.0
rospy==1.15.9
rosservice==1.15.9
rostest==1.15.9
rostopic==1.15.9
rosunit==1.15.7
roswtf==1.15.9
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.10
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.9
rqt-msg==0.4.9
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.10
rqt-publisher==0.4.9
rqt-py-common==0.5.2
rqt-py-console==0.4.9
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.8
rqt-rviz==0.6.1
rqt-service-caller==0.4.9
rqt-shell==0.4.10
rqt-srv==0.4.8
rqt-tf-tree==0.6.2
rqt-top==0.4.9
rqt-topic==0.4.12
rqt-web==0.4.9
rsa==4.7.2
rviz==1.14.5
scipy==1.6.2
sensor-msgs==1.13.1
six==1.15.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sortedcontainers==2.3.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
termcolor==1.1.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tf2-sensor-msgs==0.7.5
topic-tools==1.15.9
typing-extensions==3.7.4.3
unicorn==1.0.2rc3
unique-id==1.0.6
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xacro==1.14.6
yarl==1.6.3
